* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  background-color: lightgrey;
}

.banner {
  width: 100%;
  height: auto;
  background-color: white;
}

h1{
  display: inline-block;
    position: relative;
    bottom: 0.2rem;
    font-family: 'Roboto', sans-serif;
    font-size: xxx-large;
}

.logo {
  position: relative;
  top: 0.3rem;
}
.logo_scrypt {
  display: inline-block;
}

.main_cont {
  width: 70%;
  background-color: white;
  margin: auto;
  position: relative;
  top: 40px;
}

.m-left {
  margin-left: 4rem;
}

.task {
  color: white;
  background-color: #47ADF1;
}

.section {
  color: #D0D4D8;
  background-color: #FFFFFF;
}

.buttons {
  padding: 1rem 0rem;
}

hr{
  background-color: lightgrey;
}

.butt {
  border-radius: 10px;
  width: 8rem;
  height: 2.4rem;
  font-size: 1.1rem;
}

.arrow {
  font-family: 'STIX Two Math', serif;
  font-strech: expanded;
}

.circleg {
  color: green;
  border-radius: 50%;
  border: 2px solid green;
}