* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  background-color: lightgrey;
}

main {
  padding: 2rem;
}

.banner {
  width: 100%;
  height: auto;
  background-color: white;
}

h1{
  display: inline-block;
  position: relative;
  bottom: 0.2rem;  
  font-family: 'Roboto', sans-serif;
  font-size: xxx-large;
}

h2 {
  font-size:1.7rem;
  font-family: 'Roboto', sans-serif;
}

.logo {
  position: relative;
  top: 0.3rem;
}
.logo_scrypt {
  display: inline-block;
}

.main_cont {
  width: 70%;
  background-color: white;
  margin: auto;
  position: relative;
  top: 40px;
}

.m-left {
  margin-left: 4rem;
  padding-top: 1rem;

}

.task {
  color: white;
  background-color: #47ADF1;
}

.section {
  color: #D0D4D8;
  background-color: #FFFFFF;
}

.buttons {
  padding: 1rem 0rem;
}

.raw{
  border-top: 2px solid lightgrey;
  padding: 3rem 0rem;
}

.butt {
  border-radius: 10px;
  width: 8rem;
  height: 2.4rem;
  font-size: 1.1rem;
}

.circleg {
  color: green;
  border-radius: 50%;
  border: 2px solid green;
  width: 25px;
  height: 25px;
/*   display: block; */
}

.circler {
  color: red;
  border-radius: 50%;
  border: 2px solid red;
  width: 25px;
  height: 25px;
}

.editorial {
      background-color: #45ABEA;
    width: 5rem;
    height: 1.5rem;
    border-radius: 18px;
    display: inline-block;
    padding-top: 3px;
}

.ed_scrypt {
  color: white;
  padding: 1rem 0.8rem;
}

.check {
  position: relative;
  left:1px;
}

.cross {
  position: relative;
  left:1px;
}

.todo {
  display: inline-block;
  padding-left: 1.7rem;
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
}

.item {
  margin-top: 1rem;
}

.goals {
        background-color: #9C72E4;
    width: 5.5rem;
    height: 1.5rem;
    border-radius: 18px;
    display: inline-block;
    padding-top: 3px;
}

.goals_scrypt {
  color: white;
  padding: 1rem 0.8rem;
}

.recruiting {
  background-color: #64C0A9;
  width: 5.5rem;
  height: 1.5rem;
  border-radius: 18px;
  display: inline-block;
  padding-top: 3px;
}

.recruting_scrypt {
  color: white;
  padding: 1rem 0.8rem;
}

.mobile {
  background-color: #F29E33;
  width: 4.7rem;
  height: 1.5rem;
  border-radius: 18px;
  display: inline-block;
  padding-top: 3px;
}

.mobile_scrypt {
  color: white;
  padding: 1rem 0.8rem;
}

.website {
  background-color: #D863A1;
  width: 4.7rem;
  height: 1.5rem;
  border-radius: 18px;
  display: inline-block;
  padding-top: 3px;
}

.website_scrypt {
  color: white;
  padding: 1rem 0.8rem;
}

.sales {
  background-color: #B0C926;
  width: 4rem;
  height: 1.5rem;
  border-radius: 18px;
  display: inline-block;
  padding-top: 3px;
}

.sales_scrypt {
  color: white;
  padding: 1rem 0.9rem;
}